[user]
	name = Matheus Alcantara
	email = mths.dev@pm.me

[includeIf "gitdir:~/dev/work/**"]
    path = ~/dev/work/.gitconfig

[push]
	default = current
	autoSetupRemote = true

[pull]
	default = current
	rebase = true

[alias]
    amend = !git add -u && git commit --amend
    clean = number clean
    rs = number restore --staged
	ck = number checkout
    search = !fish -c git-search
    last = for-each-ref --sort=-committerdate --count=20 --format='%(align:50,left)%(refname:short)%(end)%(committerdate:relative)' refs/heads/
    release-notes = !git log --oneline --left-right --cherry-pick $(git describe --tags --abbrev=0)..$(git rev-parse --abbrev-ref HEAD)
    # Show the commits from main branch that does not exists on current branch ignoring commits that was cherry-picked from main to current branch.
    diff-commits = !git log --oneline --left-only --cherry-pick main...$(git rev-parse --abbrev-ref HEAD)


[core]
    editor = 'nvim'
    excludesFile = ~/dev/.gitignore

[init]
	defaultBranch = main
[rebase]
	autosquash = true
	autostash = true

[url "git@github.com:"]
	insteadOf = https://github.com/

